xsd/запрос-удаление.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Test (Ru-Board) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AuthData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Login"/>
				<xs:element ref="Pass"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Login">
		<xs:annotation>
			<xs:documentation>Логин пользователя</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Pass">
		<xs:annotation>
			<xs:documentation>Пароль пользователя</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AuthData"/>
				<xs:element name="DataForDelete">
					<xs:annotation>
						<xs:documentation>Удаляемые данные</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="Applications" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Заявления</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Application" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Заявление</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:all>
													<xs:element name="ApplicationNumber">
														<xs:annotation>
															<xs:documentation>Номер заявления</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RegistrationDate">
														<xs:annotation>
															<xs:documentation>Дата регистрации заявления</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:dateTime"/>
														</xs:simpleType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OrdersOfAdmission" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Заявления, включенное в приказ</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Application" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Заявление, включенное в приказ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:all>
													<xs:element name="ApplicationNumber">
														<xs:annotation>
															<xs:documentation>Номер заявления</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RegistrationDate">
														<xs:annotation>
															<xs:documentation>Дата регистрации заявления</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:dateTime"/>
														</xs:simpleType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CompetitiveGroupItems" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Направления подготовки конкурсных групп</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CompetitiveGroupItemID" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>ИД(не UID,а id из базы) направления подготовки конкурсной группы</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="50"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="EntranceTestResults" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Результаты вступительных испытаний</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EntranceTestsResultID">
											<xs:annotation>
												<xs:documentation>ИД вступительного испытания</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:unsignedInt"/>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ApplicationCommonBenefits" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Общие льготы, предоставленные абитуриентам</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ApplicationCommonBenefitID">
											<xs:annotation>
												<xs:documentation>ИД общей льготы</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:unsignedInt"/>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
