xsd/ответ-проверка заявления .xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Test (Ru-Board) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ImportedAppCheckResultPackage">
		<xs:complexType>
			<xs:all>
				<xs:element name="PackageID">
					<xs:annotation>
						<xs:documentation>ИД пакета </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedShort"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="StatusCheckCode">
					<xs:annotation>
						<xs:documentation>Код статуса проверки пакета</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:unsignedInt"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="StatusCheckMessage">
					<xs:annotation>
						<xs:documentation>Статус проверки пакета</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EgeDocumentCheckResults" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Результаты проверки свидетельств ЕГЭ</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EgeDocumentCheckResult" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Результаты проверки свидетельств ЕГЭ абитуриента</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Application">
											<xs:annotation>
												<xs:documentation>Заявление абитуриента</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:all>
													<xs:element name="ApplicationNumber">
														<xs:annotation>
															<xs:documentation>Номер заявления</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RegistrationDate">
														<xs:annotation>
															<xs:documentation>Дата регистрации заявления</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:dateTime"/>
														</xs:simpleType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="EgeDocuments">
											<xs:annotation>
												<xs:documentation>Свидетельства о разультатах ЕГЭ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EgeDocument" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Свидетельство о разультатах ЕГЭ</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:all>
																<xs:element name="StatusCode">
																	<xs:annotation>
																		<xs:documentation>Код статуса проверки свидетельства</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:unsignedByte"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="StatusMessage">
																	<xs:annotation>
																		<xs:documentation>Статус проверки свидетельства</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="DocumentNumber">
																	<xs:annotation>
																		<xs:documentation>Номер свидетельства</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="DocumentDate">
																	<xs:annotation>
																		<xs:documentation>Дата выдачи свидетельства</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:date"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CorrectResults" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Корректные баллы (успешно прошли проверку)</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CorrectResultItem" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>Корректный балл</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="SubjectName">
																							<xs:annotation>
																								<xs:documentation>Наименование дисциплины</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:string"/>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Score">
																							<xs:annotation>
																								<xs:documentation>Балл</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:decimal"/>
																							</xs:simpleType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="IncorrectResults" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Некорректные баллы</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="IncorrectResultItem" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>Некорректный балл</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="SubjectName">
																							<xs:annotation>
																								<xs:documentation>Наименование дисциплины</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:string"/>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Score">
																							<xs:annotation>
																								<xs:documentation>Балл</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:decimal"/>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="Comment">
																							<xs:annotation>
																								<xs:documentation>Комментарий</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:string"/>
																							</xs:simpleType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GetEgeDocuments" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Данные о свидетельствах ЕГЭ абитуриента</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GetEgeDocument" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Данные о свидетельствах ЕГЭ абитуриента</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:all>
										<xs:element name="Application">
											<xs:annotation>
												<xs:documentation>Заявление абитуриента</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:all>
													<xs:element name="ApplicationNumber">
														<xs:annotation>
															<xs:documentation>Номер заявления</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="50"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RegistrationDate">
														<xs:annotation>
															<xs:documentation>Дата регистрации заявления</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:dateTime"/>
														</xs:simpleType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="EgeDocuments" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Свидетельства о результатах ЕГЭ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EgeDocument" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Свидетельство о результатах ЕГЭ</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:all>
																<xs:element name="CertificateNumber">
																	<xs:annotation>
																		<xs:documentation>Номер свидетельства</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="50"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="TypographicNumber">
																	<xs:annotation>
																		<xs:documentation>Типографский номер</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Year">
																	<xs:annotation>
																		<xs:documentation>Год выдачи свидетельства</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:unsignedInt"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Status">
																	<xs:annotation>
																		<xs:documentation>Статус свидетельства</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string"/>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Marks">
																	<xs:annotation>
																		<xs:documentation>Баллы</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Mark" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>Балл</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="SubjectName">
																							<xs:annotation>
																								<xs:documentation>Наименование дисциплины</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:string"/>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="SubjectMark">
																							<xs:annotation>
																								<xs:documentation>Балл</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:decimal"/>
																							</xs:simpleType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Error" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Ошибка</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string"/>
											</xs:simpleType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
