xml_schemes/запрос-проверка заявления.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Test (Ru-Board) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AuthData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Login"/>
				<xs:element ref="Pass"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetResultCheckApplication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PackageGUID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Login">
		<xs:annotation>
			<xs:documentation>Логин пользователя</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PackageGUID">
		<xs:annotation>
			<xs:documentation>ID загруженного пакета </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:unsignedInt"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Pass">
		<xs:annotation>
			<xs:documentation>Пароль пользователя</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GetResultCheckApplication"/>
				<xs:element ref="AuthData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
